<div class="row">
  <div class="col-md-4 offset-4">
    <h1>Thank you for your contribution!</h1>

    <%= link_to "Make another contribution!", new_project_contribution_path(project_id: params[:project_id]) %>
  </div>
</div>